html{
    width:100%;
    height:100%;
    -ms-overflow-style: none;
    -webkit-overflow-style: none;
    -moz-overflow-style: none;
    overflow:hidden;
}
body{
    color: white;
    align-items: center;
    text-align: center;
    background: rgb(103, 209, 236);
    background: linear-gradient(
        rgba(103, 209, 236, 0.8),
        rgba(103, 209, 236, 0.8)),
        linear-gradient(
        rgba(3, 3, 3, 0.5),
        rgba(7, 7, 7, 0.5))
        no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /* display:flex; */
    
}

#ballon{
    filter:blur("5px");
    z-index:999;
    /* display:none; */
}

#particles-js{
    width: 100vw;
    height: 100vh;
    z-index:999;
}

#canvas{
    align-items: center;
    text-align: center;

}